# Ignore everything
*

# Except .gitignore
!.gitignore

# Keep only .tex files
!*.tex

# Allow section folders and .tex files inside them
!sections/
!sections/*.tex

# Keep compiled output for reference
!notes.pdf

